:root {
  --dark-green: #235347;
  --font-size: 16px;
}

.template-property-name {
  margin-bottom: 10px;
}
input {
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
  width: 90%;
  font-size: var(--font-size);
}

input:focus {
  border-bottom: 1px solid black;
}

.template-property-container {
  margin-bottom: 20px;
}

button {
  outline: none;
  background: transparent;
  border-radius: 3px;
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  margin: 0 1em;
  padding: 0.25em 1em;
  cursor: pointer;
}
